*.egg-info
*.o
*.so
*.pyc
*.swp
*.swo
dist
_build
build
.project
.pydevproject
.settings
.externalToolBuilders
setuptools*
.ipynb_checkpoints
.tox

# VSCode
pymatgen/\.vscode/
.vscode/

# MacOS
.DS_Store

# Intellij
*.iml
.idea
